<div class="product-parameters-group ">
    <div class="float-start m-0 p-0">Platforma:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.Platform</div>
</div>
<br />
<div class="product-parameters-group ">
    <div class="float-start m-0 p-0">System operacyjny:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.OperatingSystem</div>
</div>
<br />
<div class="product-parameters-group ">
    <div class="float-start m-0 p-0">Processor:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.Processor</div>
</div>
<br />
<div class="product-parameters-group ">
    <div class="float-start m-0 p-0">Minimalne wymagania karty graficznej:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.GraphicsCardRequirements</div>
</div>
<br />
<div class="product-parameters-group ">
    <div class="float-start m-0 p-0">Wymagana ilość ramu:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.RamRequirements</div>
</div>
<br />
<div class="product-parameters-group ">
    <div class="float-start m-0 p-0">Dysk twardy:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.HardDriveRequirements</div>
</div>
<br />
<div class="product-parameters-group ">
    <div class="float-start m-0 p-0">Języki:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.Languages</div>
</div>