<div class="product-parameters-group ">
    <div class="float-start m-0 p-0">System operacyjny:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.OperatingSystem</div>
</div>
<br />
<hr />
<div class="product-parameters-group">
    <div class="float-start m-0 p-0 fw-bold fs-4">Ekran</div>
    <br />
    <br />
    <div class="float-start m-0 p-0">Przekątna:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.ScreenDiagonal</div>
    <br />
    <div class="float-start m-0 p-0">Rozdzielczość:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.ScreenResolution</div>
    <br />
    <div class="float-start m-0 p-0">Typ:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.ScreenMatrixType</div>
    <br />
    <div class="float-start m-0 p-0">Odświeżanie:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.ScreenRefreshing</div>
    <br />
    <div class="float-start m-0 p-0">Dotykowy:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.TouchScreen</div>
    <br />
</div>
<br />
<hr />

<div class="product-parameters-group">
    <div class="float-start m-0 p-0 fw-bold fs-4">Procesor</div>
    <br />
    <br />
    <div class="float-start m-0 p-0">Seria i model:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.Processor
    </div>
    <br />
</div>
<br />
<hr />

<div class="product-parameters-group">
    <div class="float-start m-0 p-0 fw-bold fs-4">Ram</div>
    <br />
    <br />
    <div class="float-start m-0 p-0">Rozmiar:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.RamSize</div>
    <br />
    <div class="float-start m-0 p-0">Wolnych slotów:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.RamFreeSlots</div>
    <br />
    <div class="float-start m-0 p-0">Częstotliwość:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.RamFrequency</div>
    <br />
</div>
<br />
<hr />

<div class="product-parameters-group">
    <div class="float-start m-0 p-0 fw-bold fs-4">Dysk twardy</div>
    <br />
    <br />
    <div class="float-start m-0 p-0">Pojemność:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.HardDrive</div>
    <br />
</div>
<br />
<hr />

<div class="product-parameters-group">
    <div class="float-start m-0 p-0 fw-bold fs-4">Karta graficzna</div>
    <br />
    <br />
    <div class="float-start m-0 p-0">Nazwa:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.GraphicsCard</div>
    <br />
</div>
<br />
<hr />

<div class="product-parameters-group">
    <div class="float-start m-0 p-0 fw-bold fs-4">Bateria</div>
    <br />
    <br />
    <div class="float-start m-0 p-0">Pojemność:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.BatteryCapacity</div>
    <br />
</div>
<br />
<hr />

<div class="product-parameters-group">
    <div class="float-start m-0 p-0 fw-bold fs-4">Złącza</div>
    <br />
    <br />
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.Connectors</div>
    <br />
</div>
<br />