<div class="product-parameters-group ">
    <div class="float-start m-0 p-0">System operacyjny:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.OperatingSystem</div>
</div>
<br />
<hr />
<div class="product-parameters-group">
    <div class="float-start m-0 p-0 fw-bold fs-4">Ekran</div>
    <br />
    <br />
    <div class="float-start m-0 p-0">Przekątna:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.Screen</div>
    <br />
</div>
<br />
<hr />

<div class="product-parameters-group">
    <div class="float-start m-0 p-0 fw-bold fs-4">Procesor</div>
    <br />
    <br />
    <div class="float-start m-0 p-0">Seria i model:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.Processor
    </div>
    <br />
</div>
<br />
<hr />

<div class="product-parameters-group">
    <div class="float-start m-0 p-0 fw-bold fs-4">Ram</div>
    <br />
    <br />
    <div class="float-start m-0 p-0">Rozmiar:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.Ram</div>
    <br />
</div>
<br />
<hr />

<div class="product-parameters-group">
    <div class="float-start m-0 p-0 fw-bold fs-4">Dysk twardy</div>
    <br />
    <br />
    <div class="float-start m-0 p-0">Rozmiar:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.HardDrive</div>
    <br />
</div>
<br />
<hr />

<div class="product-parameters-group">
    <div class="float-start m-0 p-0 fw-bold fs-4">Karta graficzna</div>
    <br />
    <br />
    <div class="float-start m-0 p-0">Nazwa:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.GraphicsCard</div>
    <br />
</div>
<br />
<hr />

<div class="product-parameters-group">
    <div class="float-start m-0 p-0 fw-bold fs-4">Bateria</div>
    <br />
    <br />
    <div class="float-start m-0 p-0">Pojemność:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.Battery</div>
    <br />
</div>
<br />
<hr />

<div class="product-parameters-group">
    <div class="float-start m-0 p-0 fw-bold fs-4">Aparat</div>
    <br />
    <br />
    <div class="float-start m-0 p-0">Aparat przedni:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.FrontCameraResolution</div>
    <br />
    <div class="float-start m-0 p-0">Aparat tylni:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.BackCameraResolution</div>
    <br />
</div>
<br />
<hr />

<div class="product-parameters-group">
    <div class="float-start m-0 p-0 fw-bold fs-4">Karta Sim</div>
    <br />
    <br />
    <div class="float-start m-0 p-0">Typ:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.SimCard</div>
    <br />
    <div class="float-start m-0 p-0">Blokada simlock:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.SimLocke</div>
    <br />
</div>
<br />
<hr />

<div class="product-parameters-group">
    <div class="float-start m-0 p-0 fw-bold fs-4">Złącza</div>
    <br />
    <br />
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.Connectors</div>
    <br />
</div>
<br />
<hr />