@model MoonlightShadow.ViewModels.Administrator.AdministratorViewModel;
@{
    ViewData["Title"] = "Konto";
}
<div class="page row">
    @if(Model.UsersTransactions != null)
    {
        <div class="col-md-12">
            <div class="shoping-cart-panel">
                <div class="shoping-cart-panel-title text-center" style="background-image: url('./img/Action/PaymentConfirmation.webp');">
                    <i class="bi bi-calendar4-week"></i>
                    <br />
                    Potwierdzenie otrzymanej płatności i wysyłki
                </div>

                <div class="shopping-cart-panel-summary">

                    @if (Model.UsersTransactions.Count() == 0)
                    {
                        <div class="fs-2 fw-bold text-center">Brak zamówień</div>
                    }
                    else
                    {
                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th scope="col">Nazwa transakcji</th>
                                    <th scope="col">List produktów</th>
                                    <th scope="col">Cena</th>
                                    <th scope="col">Potwierdź płatność</th>
                                    <th scope="col">Potwierdź wysyłkę</th>
                                    <th scope="col">Adres doręczenia</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var userTransaction in Model.UsersTransactions)
                                {
                                    <tr>
                                        <td>@userTransaction.BoughtOrder.TitleTransaction</td>
                                        <td>
                                            @foreach (var productItem in userTransaction.BoughtOrder.ProductItems)
                                            {
                                                @productItem.Name 
                                                <br>
                                            }
                                        </td>
                                        <td>@userTransaction.BoughtOrder.FullPrice zł</td>
                                        @if(userTransaction.BoughtOrder.isPaymentVerified)
                                        {
                                            <td><span class="bi bi-check-square-fill"></span></td> 
                                        }
                                        else
                                        {
                                            <td><a class="bi bi-x-square-fill action-button" 
                                            asp-controller="Administrator" 
                                            asp-action="SetPaymentVerified"
                                            asp-route-id=@userTransaction.Id></a></td>
                                        }

                                        @if(userTransaction.BoughtOrder.isShippment)
                                        {
                                            <td><span class="bi bi-check-square-fill"></span></td> 
                                        }
                                        else
                                        {
                                            <td><a class="bi bi-x-square-fill action-button"
                                            asp-controller="Administrator" 
                                            asp-action="SetShippment"
                                            asp-route-id=@userTransaction.Id></a></td>
                                        }

                                        <td>@userTransaction.Address.ToString()</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="shoping-cart-panel">
                <div class="shoping-cart-panel-title text-center" style="background-image: url('./img/Action/Letters.webp');">
                    <i class="bi bi-envelope"></i>
                    <br />
                    Wiadomości
                </div>

                <div class="shopping-cart-panel-summary">

                    @if (Model.Contacts.Count() == 0)
                    {
                        <div class="fs-2 fw-bold text-center">Brak listów</div>
                    }
                    else
                    {
                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th scope="col">Imię</th>
                                    <th scope="col">Adres email</th>
                                    <th scope="col">Temat wiadomości</th>
                                    <th scope="col">Wiadomość</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var ContactMessage in Model.Contacts)
                                {
                                    <tr>
                                        <td>@ContactMessage.Name</td>
                                        <td>@ContactMessage.Email</td>
                                        <td>@ContactMessage.Subject</td>
                                        <td>@ContactMessage.Message</td> 
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    }
</div>